name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@4
      
      - name: Setup Node
        uses: actions/setup-node@4
        with:
          node-version: 22
      
      - name: Force Failure
        run: (exit 1)